.section__landing {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__heading {
    font-family: $serif;
    font-size: 9rem;
    text-align: center;
    font-weight: 400;
    color: #eeeeee;

    @include responsive-custom(50em) {
      font-size: 8rem;
    }

    @include responsive-custom(43.75em) {
      font-size: 7rem;
    }

    @include responsive-custom(31.25em) {
      font-size: 5rem;
    }
  }

  &__button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }

  #registerPanel {
    text-decoration: none;
    font-size: 1.8rem;
    color: #ffff;
    background-color: rgba(#ffff, 20%);
    padding: 1rem 2rem;
    border: none;
    outline: none;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      transform: translateY(-0.5rem);
      background-color: rgba(#ffff, 30%);
    }
  }

  #loginPanel {
    text-decoration: none;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: $green-primary-lighter;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      color: darken($green-primary-lighter, 5%);
    }
  }
}
