.section__login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @include responsive(tab-land) {
    padding: 2rem;
  }
  .container {
    max-width: 60rem;
    background-color: #ffff;
    border-radius: 1rem;
    flex-grow: 1;
    padding: 2.5rem 4rem;
  }

  &__heading {
    font-size: 3rem;
  }

  &__span {
    font-size: 2rem;
  }

  form {
    margin: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;

    input {
      padding: 1rem;
      border: 1px solid #7f8a9c;
      border-radius: 1rem;
      outline: none;
      width: 100%;

      &::placeholder {
        color: #7f8a9c;
      }
    }
    #loginBtn {
      padding: 1rem;
      border: none;
      border-radius: 1rem;
      background-color: $green-primary-lighter;
      color: #fff;
      cursor: pointer;
    }
  }

  &__reference {
    font-size: 1.6rem;
    a {
      text-decoration: none;
      color: $green-primary-lighter;
    }
  }
}
