$primary-color: #7f8a9c;
$montserrat: "Montserrat", sans-serif;
$poppins: "Poppins", sans-serif;
$serif: "Playfair Display", serif;
$green-primary-dark: #0c2d41;
$green-primary-light: #159070;
$green-primary-lighter: #29e19f;
